.container{
    
    text-align: center;
    color: white;
    overflow: hidden;
}



body{
    background-image:url("../images/silent-hills.jpg");
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-size: auto;
    font-family: 'Lexend Zetta', sans-serif;
    

}

.card-body {
    
    background-color:rgba(27, 27, 27, 0.8);
    height: 467px;
    margin: 2%;
    flex: 0%;
    
}

 p, h2{
    color:white;
    text-align: center;
}

.row{
    text-align: center;
    color: white;
    background-color:rgb(105, 105, 105, .2);
}

.btn-preFight{
    font-size: 24px;
    color: rgb(51, 19, 19);
    background-color: grey;
    border-width: 10px;
}

.col{
    margin: 5%;
}



img{
   
   height: 250px;
   overflow: auto;
   border: 1px;
   border-color: white;
   text-decoration: none;
   flex: 0%;
}



a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    overflow: hidden;
    
}



a:hover {
    color:white;
  }

#alert{
    background-color: black;
    color: white;
}


/*CAN'T STYLE H3 TAG OR IT DELETES COMMAND
